body {
  background-color: aliceblue;
}

.App {

  text-align: center;
  font-family: 'Roboto';
}


.Container {
  display: flex;
}

.Box-Form {
  flex-grow: 1;
  border-radius: 10px;
  margin: 20px;
  background-color: rgb(223, 232, 240);
  padding: 3em;
}

input {
  width: 90%;

  margin-bottom: 1em;
  padding: 1em;
  font-size: large;
}

.Box-List {
  flex-grow: 1;
  border-radius: 10px;
  margin: 20px;
  background-color: rgb(190, 255, 201);
  ;

}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}